body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0c1a;
    color: #ffffff;
}

header {
    background-color: #1a1b3f;
    background-image: url("https://img.freepik.com/free-photo/astral-concept-wallpaper_23-2150038881.jpg?uid=R198775639&ga=GA1.1.1841754676.1746371750&semt=ais_hybrid&w=740");
    padding: 150px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #20cfff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 35px;
}

footer {
    background-color: #1a1b3f;
    text-align: center;
    padding: 10px;
    position: relative;
}
